@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a asp-page="Recipes/Index">Recipe Index</a></p>
    <p><a asp-page="RecipeIngredients/Index">Recipe Ingredients Index</a></p>
    <p><a asp-page="Ingredients/Index">Ingredients Index</a></p>
    <p><a asp-page="Units/Index">Units Index</a></p>
    <p><a asp-page="Instructions/Index">Instructions Index</a></p>
    <p><a asp-page="RecipeDisplay/Index">Instructions Index</a></p>
</div>
